<div class="container">
    <div class="row">    
        <div class="col-sm-4 informacoes">
            <h3>Desenvolvido por LabES</h3>
            <p>Avenida Trabalhador São Carlense, 400 - Centro</p>
            <p>Universidade de São Paulo - ICMC Prédio 5 - Sala 6-208</p>
            <p>São Carlos - SP 13566-590 - Brasil</p>
            <p>Telefone: (16) 3373-9997</p>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <h3>Conecte-se conosco</h3>
                <a href=""><span class="fa fa-facebook"></span></a>
                <a href=""><span class="fa fa-twitter"></span></a>
                <a href=""><span class="fa fa-youtube"></span></a>
                <a href=""><span class="fa fa-globe"></span></a>
            </div>
        </div>
        <div class="col-sm-4">
            <!-- <img src="img/bunny.png"> -->
            <h3>Crie já sua conta</h3>
            <a href="/users/create"><button type="button" class="btn btn-warning">Cadastre-se</button></a>
        </div>
    </div>
    <div class="row text-center the-end">
        <p><span class="fa fa-copyright"></span>Copyright 2018 <a href="">Universidade de São Paulo</a></p>
    </div>      
</div>