<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/"><img src="../img/logoedu4.png"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Menu do navbar -->
            <div class="collapse navbar-collapse" id="mynavbar">
                <!-- Barra de pesquisa -->
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Pesquisar">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Página inicial</a></li>
                    <li><a href="/languages">Linguagens</a></li>
                    <li class="active"><a href="/patterns">Padrões</a></li>
                    <li><a href="/about">Sobre</a></li>
                    <li><a data-toggle="modal" data-target="#modal-login" href=""><span class="glyphicon glyphicon-lock"></span>Login</a></li>
                </ul>

                <!-- Modal do login -->
                <div class="modal fade" id="modal-login">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                             <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title">Faça seu Login</h3>
                             </div>
                             <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        <div class="well">
                                            <form>
                                                <div class="form-group">    
                                                    <label for="login-email" class="control-label">Digite seu e-mail</label>
                                                    <input autofocus type="text" class="form-control form-control-lg" placeholder="E-mail" name="login-email">
                                                </div>
                                                <div class="form-group">    
                                                    <label for="login-password" class="control-label">Digite sua senha</label>
                                                    <input type="text" class="form-control form-control-lg" name="login-password" placeholder="Senha">
                                                </div>
                                                <button type="submit" class="btn btn-success btn-block">Login</button>
                                            </form>  
                                            <p>Não possui uma conta? <a href="/users/create">Cadastre-se agora</a></p>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal Login -->

            </div>
        </div>
    </nav>  

    <div class="container criarNovoPadrao">
    	<h1>Criação de Novo Padrão</h1>
    	<form method="POST" action="">
		  <div class="form-group">
		    <label for="nomePadrao">Nome do Padrão</label>
		    <input type="text" class="form-control" id="nomePadrao" name="nomePadrao" placeholder="Digite o nome do seu padrão">
		  </div>
		  <div class="form-group">
		  <div class="form-group">
		    <label for="visibilidade">Visibilidade</label>
		    <select class="form-control" id="visibilidade"  name="visibilidade">
		      <option>Público</option>
		      <option>Privado</option>
		    </select>
		  </div>
		  </div>
		  <div class="form-group">
		    <label for="">Texto</label>
		    <textarea class="form-control" id="texto" name="texto" rows="7"></textarea>
		  </div>

		  <!-- <a href="" type="button" id="button" class="btn btn-default btn-lg btn-block login-button">Terminar Cadastro</a> -->
		  <button type="submit" class="btn btn-info">Criar Padrão</button>
		  <button onclick="window.location.href='/padroes'" class="btn btn-danger">Cancelar</button>
		</form>

    </div>

    <br>
    <br>
    <br>
    <footer class="text-center">
        <%- include partials/footer.ejs %>
    </footer>
    <!-- SCRIPTS -->
    <script src="../dataCollectors/collectDataLogin.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>
