h1 {
	text-shadow:#888 1px 1px 6px;
	font-weight: bold;
	font-size: 40px;
}

.well {
	/*margin: 15px 0;*/
	border-radius: 60px !important;
}

.well .btn {
	font-weight: bold;
}

.well .btn-primary {
	background-color: #3e3759;
	border-color: #171421;
}

.well .btn-primary:hover {
	background-color: #2b263d;
	border-color: #171421;	
}

.well .btn-info {
	background-color: #3e3759;
	border-color: #171421;
}

.well .btn-info:hover {
	background-color: #2b263d;
	border-color: #171421;	
}

.btn-rounded {
	border-radius: 10em;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.container {
	margin-left: auto;
	margin-right: auto;
}

.tooltipInfo .glyphicon{
	font-size: 28px;
}