/************
-miscelânea
************/		
a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
}

p, a, h1, h2, h3, h4 {
	font-family: 'Work Sans', serif;	
}

h1 {
	text-shadow:#888 1px 1px 6px;
	font-weight: bold;
	font-size: 40px;
}

/*h1 {
	color: #fff; text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135; 
	font: 50px 'ChunkFiveRegular';
}*/

/************
-navbar
************/		
.navbar-inverse {
	background-color: #2B263D;

	margin-bottom: 0;
	border-radius: 0;
	border: 0;
	padding: 0.3%;
	color: #fff;
	font-size: 1.2em;
}

.navbar ul span {
	font-size: 14px;
}

.navbar ul i, .navbar ul i:hover, .navbar ul i:focus {
	font-size: 17px;
	padding: 0.3%;	
}

.navbar-collapse .nav .active a, .navbar-collapse .nav .active a:hover, .navbar-collapse .nav .active a:focus {
	background-color: #2B263D;
}

.logo {
	float left;
}

.navbar .navbar-header button:focus {
	background-color: #2B263D;
}

.navbar .navbar-header button:hover {
	background-color: #171421;
}


/************
-corpo
************/		
.greetings {
	font-size: 50px;
}

.wrapper {
	background-color: #f4f5f7;
	border-radius: 90px;	
}

#profilePhotoInput {
	height:0px;
	overflow:hidden;
}

.profilePhoto img {
	width: 350px;
	height: auto;
	margin-left: auto;
  	margin-right: auto;
  	display: block;
	border-radius: 50%;
}

.profilePhoto {
    overflow: hidden;
    position: relative;
    width: 350px;
	height: auto;
	margin-left: auto;
  	margin-right: auto;
  	display: block;
	border-radius: 50%;
}

.label {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    bottom: -10000000px;
    color: #fff;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition:0.1s all;
    font-size: 25px;
    height: 20%;
}

.profilePhoto:hover .label {
  top: 80%;
}

.photoArea, .photoArea h4, .photoArea form {
	margin: auto;
	display: block;
	width: 50%;
	text-align: center;
}

.photoArea {
	background-color: rgba(43,38,61,0.05);
	border-radius: 20px;
	/*background: green;*/
}

.profileInfo p {
	font-size: 30px;
	font-weight: bold;
	font-family: 'Nunito', sans-serif;
} 

.artigo {
	margin: 25px 10px;
	padding: 5px;
}

.col-artigos {
	/*background-color: rgba(89, 91, 109, 0.1);*/
	/*background-color: #e8e8e8; colocar nos posts*/
	background-color: #f4f4f4;
	border-radius: 20px;
}

.artigo p {
	color: #4d4d4d;
}

.read-more:hover, .read-more:focus {
	color: black;
	text-decoration: none;
}

.artigo a {
	/*background-color: red;	*/
	margin-right: 10px;
	padding: 0px;
	font-size: 17px;
}

.artigo p a:hover, .artigo p a:focus {
	/*color: #5e4485;*/
	color: #fb284c;
	text-decoration: none;
}

.artigo span {
	font-size: 16px;
}

.artigo h2 a {
	color: black;
	font-weight: bold;
	font-size: 30px;
}

.artigo h2 a:hover, .artigo h2 a:focus {
	color: #fb284c;
	text-decoration: none;
}

.artigo h4 a {
	color: black;
	font-weight: bold;
	font-size: 15px;
}

.artigo .read-more {
	/*color: #5e4485;*/
	color: black;
	font-weight: bold;
	font-size: 15px;
}

.artigo .read-more:hover {
	/*color: #5e4485;*/
	color: #fb284c;
}

.mais-vistos ul li {
	font-size: 18px;
	padding: 5px;
	text-decoration-style: none;
	list-style: none;	
}
 /************
 -Pagination
 ************/		
.corpo .container .controle-pagina .pagination li {
	align-items: center;
	color: red; !important
}



/************
-footer
************/		

footer {
	/*background-color: #5e4485;*/
	/*background-color: #01959e;*/
	/*background-color: #363636; o preto claro*/
	background-color: #2B263D;
	/*background-color: black;*/
	/*background-color: #5F00FE;*/
	color: #fff;
	padding: 0.1%;
}

footer .the-end {
	font-size: 12px;
}

footer a:hover, footer a:focus {
	text-decoration: none;
	color: #fff;
}

.informacoes h3 {
	font-size: 22px;
}

.informacoes {
	text-align: center;
	font-size: 13px;
	line-height: 0.5em;
}

@media only screen and (max-width: 1200px){
	.informacoes {
		line-height: 0.95em;
	}

}

.fa {
	padding: 10px;
	font-size: 25px;
	color: #d4d7db;
}

.fa:hover, .fa:focus {
	color: #b3b5b7;
}

.fa-copyright {
	font-size: 12px;
	padding: 3px;
}